.header {
    padding-block: 2rem;
    background-color: lightblue;
}

nav {
    display: none;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
}

nav.active {
    display: block;
    position: absolute;
    z-index: 999;
    background-color: blanchedalmond;
    inset: 0;
    min-height: 100vh;

    transform: translateX(0%);
}

ul {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.close {
    display: none;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    right: 0;
}

.wrapper {
    outline: 1px solid red;
    max-width: 1100px;
    margin-inline: auto;

    /* position: relative; */
}