<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabs</title>
    <link rel="stylesheet" href="../../css/cssResets/generalResets.css">
    <link rel="stylesheet" href="tab.css">
    <script defer src="tab.js"></script>
</head>
<body>
    <div class="container">
        <div class="tabs">
            <button class="tab" onclick="openTab(event, 'tab1')">Tab 1</button>
            <button class="tab" onclick="openTab(event, 'tab2')">Tab 2</button>
            <button class="tab" onclick="openTab(event, 'tab3')">Tab 3</button>
        </div> 
        <div class="tab-contents">
            <div id="tab1" class="tab-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ipsum id voluptates similique, commodi maiores nesciunt aperiam odio. 
                Ullam ex hic delectus id quisquam at reprehenderit cumque, cupiditate aperiam atque laboriosam.</div>
            <div id="tab2" class="tab-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ipsum id voluptates similique, commodi maiores nesciunt aperiam odio. 
                    Ullam ex hic delectus id quisquam at reprehenderit cumque, cupiditate aperiam atque laboriosam.</div>
            <div id="tab3" class="tab-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Ipsum id voluptates similique, commodi maiores nesciunt aperiam odio. 
                        Ullam ex hic delectus id quisquam at reprehenderit cumque, cupiditate aperiam atque laboriosam.</div>
        </div>
    </div>
</body>
</html>