<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="slider">
        <div class="slider-inner">
            <div class="slide-img">
                <i class="fas fa-futbol"></i>
            </div>
            <div class="slide-img">
                <i class="fas fa-football-ball"></i>
            </div>
            <div class="slide-img">
                <i class="fas fa-golf-ball"></i>
            </div>
            <div class="slide-img">
                <i class="fas fa-biking"></i>
            </div>
            <div class="slide-img">
                <i class="fas fa-basketball-ball"></i>
            </div>
            <div class="slide-img">
                <i class="fas fa-swimmer"></i>
            </div>
            <div class="slide-img">
                <i class="fas fa-car"></i>
            </div>
        </div>
    </div>
</body>
</html>