<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="rs-2.css">
</head>
<body>
    <!-- Third responsive use case -->
    <section class="parent">
        <div class="card">
          <h2 class="profile-name">Ramsey Harper</h2>
          <img src="https://i.pravatar.cc/250?image=3" alt="" class="profile-img">
          <ul class="social-list">
            <li><a href="#" class="social-link"><i class="fab fa-dribbble-square"></i></a></li>
            <li><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#" class="social-link"><i class="fab fa-twitter-square"></i></a></li>
          </ul>
          <p class="profile-position">Graphic Designer</p>
          <p class="profile-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere a tempore, dignissimos odit accusantium repellat quidem, sit molestias dolorum placeat quas debitis ipsum esse rerum?</p>
        </div>
      </section>
</body>
</html>