<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar 1</title>
    <link rel="stylesheet" href="../../../css/cssResets/generalResets.css">
    <link rel="stylesheet" href="navbar-1.css">
    <script defer src="navbar-1.js"></script>
</head>
<body>
    <header class="header">
        <div class="wrapper nav-wrapper">
            <div>Logo</div>
            <button class="mobile-nav-toggle" aria-controls="navigation" aria-expanded="false">
                <span class="sr-only" aria-hidden="true">menu</span>
            </button>
            <nav>
                <ul id="navigation" data-visible="false" class="navigation">
                    <li class="active"><a class="nav-link" href="#">Home</a></li>
                    <li><a class="nav-link" href="#">Service</a></li>
                    <li><a class="nav-link" href="#">About us</a></li>
                    <li><a class="nav-link" href="#">Contact us</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>