img {
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 100%;
    display: block;
}

.test {
    display: flex;
    flex-wrap: wrap;
}

.test > * {
    flex: 1;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: .5rem 2rem;
    flex-wrap: wrap;
}

.grid-auto-fit {
    display: grid;
    gap: 2rem;
    /* grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr)); */
}

@container (min-width: calc(25ch * 3)) {
    .grid-auto-fit {
        grid-template-columns: repeat(3, 1fr);
    }
}

.wrapper {
    padding-inline: 2rem;
}

@layer not-demo-related {
    * {
        box-sizing: border-box;
    }

    html {
        font-family: system-ui;
        color-scheme: dark;
    }

    body {
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.7;
    }

    header {
        background: hsl(0 0 50% / 0.2);
        padding: 1rem;
    }

    h1 {
        line-height: 1.1;
    }

    .card {
        padding: 1rem;
        background: hsl(0 0 50% / 0.2);
        border-radius: 1rem;
    }
}

/* body {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) min(100% - 2rem, 65ch) minmax(1rem, 1fr);
}

body > * {
    grid-column: 2 / 3;
}

.full-width {
    grid-column: 1 / -1;
}

p {
    text-wrap: balance;
} */

body {
    container-type: inline-size;
}

