nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@layer not-demo-related {
    * {
        box-sizing: border-box;
    }

    html {
        font-family: system-ui;
        color-scheme: dark;
    }

    body {
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.7;
    }

    header {
        background: hsl(0 0 50% / 0.2);
        padding: 1rem;
    }

    h1 {
        line-height: 1.1;
    }

    .card {
        padding: 1rem;
        background: hsl(0 0 50% / 0.2);
        border-radius: 1rem;
    }
}